a {
  text-decoration: none;
}


.home{
  background: linear-gradient(to right, #ff0000,#ff9900, #ff0000);
  background-size: 200%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient 2s linear infinite;

font-size: 50px;
text-align:center;
font-family: "Righteous", sans-serif;


margin-top: 4px;
margin-left: 53px;
border: none;
text-decoration: none;
}

.homein{

  text-align:center;
  background: linear-gradient(to right, #ff0000,#ff9900, #ff0000);
  background-size: 200%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient 2s linear infinite;
margin-top: 20vh;
font-size: 100px;
text-align:center;
font-family: "Righteous", sans-serif;
position: absolute;

  left: 50%;
  transform: translate(-30%,0px);


border: none;
text-decoration: none;
}



@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.kensaku{
display: flex;

    width: 500px;
    height: 30px;
    padding: 0.5em;
    text-align:center;
    border: 1px solid #4D5155;
border-radius: 30px;
    background: #4D5155;
    margin: 0.5em 0;
    position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
    font-size: 16px;
    margin-top: 13px;
}


.kensaku1{
    text-align:left;
    width: 90%; 
	padding: 30px -5px; 
	font-size: 18px;
    color: #fff;
    border: none;
    margin-right: 10px;
  margin-left: -18px;
    background: #4d5155;
	/*box-sizing: border-box;*/
    
}

.kensaku1:focus {
  outline: none;
}
.kensaku2{
text-align:center;
    width: 10%;
    height: 100%;
    border: none;
    font-size: 18px;
    color: #9BA3A8;
  margin-left: -13px;
  background: none;
}

.kensaku2:focus {
  outline: none;
}

body {
background-color: #1F2124;
font-family: 'ヒラギノ角ゴシック','Hiragino Sans','メイリオ', Meiryo,sans-serif;
}



.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 200,
  'opsz' 40;
}
