.home{
font-size: 32px;
text-align:center;
width:151.6px;
height: 33.8px;
margin-top: 20px;
margin-left: 20px;
}

.kensaku{
display: flex;

    width: 700px;
    height: 30px;
    padding: 0.5em;
    text-align:center;
    border: 1px solid #686868;
border-radius: 30px;
    background: #202020;
    margin: 0.5em 0;
    margin-left: 40px;
    font-size: 16px;
}

.kensaku1{
    text-align:left;
    width: 90%; /*親要素いっぱい広げる*/
	padding: 30px -5px; /*ボックスを大きくする*/
	font-size: 18px;
    color: #fff;
    border: none;
    margin-left: 10px;
    background: #202020;
	/*box-sizing: border-box;*/
    
}

.kensaku1:focus {
  outline: none;
}

.kensaku2{
text-align:center;
    width: 10%;
    height: 100%;
    background: #202020;
    border: none;
    font-size: 18px;
    color: #fff;
    border-left: 1px solid #686868;
}

.kensaku2:focus {
  outline: none;
}

body {
background-color: #0f0f0f;
font-family: 'ヒラギノ角ゴシック','Hiragino Sans','メイリオ', Meiryo,sans-serif;
}

.ue {
display: flex;
text-align:center;
width: 90vw;
left: 0;
  right: 0;
}


.dougalink{
    text-align:left;
    width: 500px; /*親要素いっぱい広げる*/
	padding: 30px -5px; /*ボックスを大きくする*/
	font-size: 18px;
    color: #fff;
    border: 1px solid #d3d3d3;
    margin-left: 10px;
    background: #202020;
	/*box-sizing: border-box;*/
    
}

.dougalink:focus {
  outline: none;
  border: 2px solid #fff;
}

#video-container{
margin-top: 30px;
margin-left: 50px;

}


#video-name{
margin-left: 50px;
margin-top: 15px;
font-size: 20px;
font-weight: bold;
color: #fff;
width: 60em; 
}

.setu{
color: #272727;

}

#description{
margin-left: 50px;
margin-top: 8px;
font-size: 20px;
color: #fff;
width: 40.2em;
background-color: #272727;
  padding: 25px;
  display: inline-block;
  border-radius: 15px;
}

#description a {
color: #3ea6ff;
text-decoration: underline;
}

#description a:hover {
color: #0088ff;
text-decoration: underline;

}
