a {
  text-decoration: none;
}


.home{
  background: linear-gradient(to right, #ff0000, #9c0000,#ff2600, #ff0000);
  background-size: 200%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient 4s linear infinite;

font-size: 50px;
text-align:center;
font-family: "Righteous", sans-serif;


margin-top: 4px;
margin-left: 53px;
border: none;
text-decoration: none;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}



#channel-info {
display: flex;
margin-top: -10px;


}

#channel-info img{
width:56px;
height: 56px;
margin-top: 10px;
margin-bottom: 10px;
margin-left: 53px;
border-radius: 26px;
}

#channel-info .so{

  display: inline-block;
}

#channel-info p{

margin-left: 15px;
margin-top: -20px;
font-size: 14px;
    color: #cecece;

}


.view{

margin-left: -1px;
margin-top: -10px;
font-size: 20px;
    color: #ffffff;

}

#channel-info h3{

margin-left: 15px;
margin-top: 12px;
font-size: 20px;
    color: #fff;
    font-weight: bold;
    width: 30em;
}


.kensaku{
display: flex;

    width: 700px;
    height: 30px;
    padding: 0.5em;
    text-align:center;
    border: 1px solid #494949;
border-radius: 30px;
    background: #202020;
    margin: 0.5em 0;
    margin-left: 80px;
    font-size: 16px;
    margin-top: 13px;
}

.kensaku1{
    text-align:left;
    width: 90%; /*親要素いっぱい広げる*/
	padding: 30px -5px; /*ボックスを大きくする*/
	font-size: 18px;
    color: #fff;
    border: none;
    margin-left: 10px;
    background: #202020;
	/*box-sizing: border-box;*/
    
}

.kensaku1:focus {
  outline: none;
}

.kensaku2{
text-align:center;
    width: 10%;
    height: 100%;
    background: #202020;
    border: none;
    font-size: 18px;
    color: #fff;
    border-left: 1px solid #686868;
}

.kensaku2:focus {
  outline: none;
}

body {
background-color: #0f0f0f;
font-family: 'ヒラギノ角ゴシック','Hiragino Sans','メイリオ', Meiryo,sans-serif;
}

.ue {
display: flex;
text-align:center;
width: 100vw;
height: 5vw;
left: 0;
  right: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0px -1px;
  background-color: #0f0f0f;
}

.ue .var{
color: #fff;
margin-left: 5px;
font-size: 12px;
}


.dougalink{
    text-align:left;
    width: 500px; 
	padding: 30px -5px; 
	font-size: 18px;
    color: #fff;
    border: 1px solid #d3d3d3;
    margin-left: 10px;
    background: #202020;
	/*box-sizing: border-box;*/
    
}

.dougalink:focus {
  outline: none;
  border: 2px solid #fff;
}

#video-container{
margin-top: 30px;
margin-left: 50px;
}


#video-name{
margin-left: 50px;
margin-top: 15px;
font-size: 20px;
font-weight: bold;
color: #fff;
width: 60vw; 
}

.setu{
color: #272727;

}

#description{
margin-left: 50px;
margin-top: 8px;
font-size: 18px;
color: #fff;
<<<<<<< HEAD
width:60vw;
=======
width:70vw;
>>>>>>> eb7ae01e59ff7d04174813b1b1a2ea784484b837
background-color: #272727;
  padding: 25px;
  display: inline-block;
  border-radius: 15px;
}

#description a {
color: #3ea6ff;
text-decoration: underline;
}

#description a:hover {
color: #0088ff;
text-decoration: underline;

}



.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 200,
  'opsz' 40;
}
