body {
background-color: #0f0f0f;
font-family: "Noto Sans JP", sans-serif;

}

a{
    text-decoration: none;
}

.back{
    width: 200px;
    margin-left: 10px;
    color: #fff;
    font-size: 30px;
    transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
    font-family: "Noto Sans JP", sans-serif;
    user-select: none;
}

.back:hover{
    text-shadow: 0px 0px 10px #dfdfdf;
}

.config .sw{
    width: 109.5px;
    position: relative;
    top: auto;
    bottom: auto;
}

.setting_ut{
    margin: auto;
    margin-top: 0px;
    background-color: #0f0f0f;
    display: flex;
    padding: 40px;
    border-radius: 5px;
    width: 70vw;
    transition: .4s cubic-bezier(0.45, 0, 0.55, 1);
    user-select: none;
    color: #fff;
    font-size: 20px;
    display: flex;
}


.setting_ut input{
    display: none;
}

.setting_ut label{
    transition: .3s cubic-bezier(0.45, 0, 0.55, 1);
    content:"";
	width: 20px;
	height: 20px;
	border-top: 3px solid #fff;
	border-right: 3px solid #fff;
	-webkit-transform: rotate(45deg);
	position:relative;
    margin-left: auto;
    margin-right: 20px;
	transform: rotate(135deg);
    margin-top: 46px;
}

.setting_ut input[type="checkbox"]:checked + label{
    transform: rotate(-45deg) !important;
    margin-top: 56px;
}

#sut{
    position:relative;
    margin-left: auto;
}




.setting_th{
    margin: auto;
    margin-top: 0px;
    background-color: #0f0f0f;
    display: flex;
    padding: 40px;
    border-radius: 5px;
    width: 70vw;
    transition: .4s cubic-bezier(0.45, 0, 0.55, 1);
    user-select: none;
    color: #fff;
    font-size: 20px;
    display: flex;
}



.setting_th input{
    display: none;
}

.setting_th label{
    transition: .3s cubic-bezier(0.45, 0, 0.55, 1);
    content:"";
	width: 20px;
	height: 20px;
	border-top: 3px solid #fff;
	border-right: 3px solid #fff;
	-webkit-transform: rotate(45deg);
	position:relative;
    margin-left: auto;
    margin-right: 20px;
	transform: rotate(135deg);
    margin-top: 46px;
}

.setting_th input[type="checkbox"]:checked + label{
    transform: rotate(-45deg) !important;
    margin-top: 56px;
}

#the{
    position:relative;
    margin-left: auto;
}



.config{
    margin: auto;
    margin-top: 0px;
    background-color: #0f0f0f;
    display: flex;
    padding: 40px;
    border-radius: 5px;
    width: 70vw;
    transition: .4s cubic-bezier(0.45, 0, 0.55, 1);
}

.config .che{
    position:relative;
    margin-left: auto;
}

.config h1{
    transition: .4s cubic-bezier(0.45, 0, 0.55, 1);
    user-select: none;
}

.config .cd{
    transition: .4s cubic-bezier(0.45, 0, 0.55, 1);
    user-select: none;
    color: #bbbbbb;
    font-size: 20px;
}

.uo{
    display: inline-block;
}

.config:hover{
    background-color: #202020;
}

.config .sw input[type="checkbox"] {
height: 60px;
  box-sizing: border-box;
  display: none;
}

.config .sw label{
    display: block;
    box-sizing: border-box;
    height: 60px;
    background-color: #3b3b3b;
/*    
    border: 2px solid #303030;
*/
    border-radius: 100px;
    transition: .3s cubic-bezier(0.45, 0, 0.55, 1);
    position: relative;
    cursor: pointer;
}

.config .sw .s{
    position: absolute;
  width: 51px;             
  height: 51px;           
  background: #999999;  
  background-color: #fff;      
  top: 4.5px;             
  left: 4.5px;               
  border-radius: 100px;             
  transition: .2s; 
  box-shadow: 0px 1.5px 5px #000000;
}

.config .sw input[type="checkbox"]:checked + label .s {
    transform: translateX(49.5px);
}

.config .sw input[type="checkbox"]:checked + label {
    background-color: #ff2f2f;
}

.config .sw input[type="checkbox"] + label:hover{
    box-shadow: 0px 0px 15px #3b3b3b;
}

.config .sw input[type="checkbox"]:checked + label:hover{
    box-shadow: 0px 0px 15px #ff2f2f;
}

