body {
background-color: #0f0f0f;
font-family: "Noto Sans JP", sans-serif;
}

a{
    text-decoration: none;
}

.back{
    margin-left: 10px;
    color: #fff;
    font-size: 30px;
    transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
    font-family: "Noto Sans JP", sans-serif;
}

.back:hover{
    text-shadow: 0px 0px 10px #dfdfdf;
}

.sw{
    width: 109.5px;
    position: relative;
}

.che{
    position: absolute;
  right: 50px;
}

.config{
    margin-top: 30px;
    background-color: #0f0f0f;
    display: flex;
    padding: 20px;
}

.config h1{
    left: 50px;
}

.config:hover{
    background-color: #202020;
}

.sw input[type="checkbox"] {
height: 60px;
  box-sizing: border-box;
  display: none;
}

.sw label{
    display: block;
    box-sizing: border-box;
    height: 60px;
    background-color: #3b3b3b;
/*    
    border: 2px solid #303030;
*/
    border-radius: 100px;
    transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
    position: relative;
    cursor: pointer;
}

.sw .s{
    position: absolute;
  width: 51px;             
  height: 51px;           
  background: #999999;  
  background-color: #fff;      
  top: 4.5px;             
  left: 4.5px;               
  border-radius: 70px;             
  transition: .2s; 
  box-shadow: 0px 4.5px 3px #272727;
}

.sw input[type="checkbox"]:checked + label .s {
    transform: translateX(49.5px);
}

.sw input[type="checkbox"]:checked + label {
    background-color: #42da42;
}